html, body
  padding 0
  margin 0
  width 100%
  height 100%

body
  display flex
  flex-direction column

li
  list-style none

li:hover
  background-color #cccccc

a
  text-decoration none

#nav_bar
  top 0
  //flex 50px
  margin 8px
  li
    float left
    padding 10px
    #packcode
      width 300px
  #github_link
    float right

#modpacks
  margin 0
  flex 1
  li
    clear left
    border 1px solid #bfbfbf
    box-shadow 2px 2px 3px #aaaaaa
    margin 4px
    display flex
    align-items center
    div
      float left
      margin 4px

