<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FTB Mod Packs</title>
    <style type="text/css">
        {% include 'app.css' %}
    </style>
    <link rel="shortcut icon" href="//exz.me/index/favicon.ico" type="image/x-icon">
</head>
<body>
<ul id="nav_bar">
    <li><a href="/modpacks">Modpacks</a></li>
    <li><a href="/thirdparty">Thirdparty</a></li>
    <li><label for="packcode"></label>
        <input type="text" id="packcode" placeholder="Type packcode and press Enter or click button"
               onkeydown="if(event.keyCode==13) document.getElementById('code_btn').click()">
        <button id="code_btn"
                onclick="location.href='/packcode/'+document.getElementById('packcode').value">Get Pack by Code
        </button>
    </li>
</ul>
<ul id="modpacks">{% block modpacks %}{% endblock %}</ul>
</body>
</html>